.main-pic {
	height: 360px;
	object-fit: cover;
}
.top-card {
	height:360px;
}
.main-logo {
	height: 50%;
	width: 50%;
}

.mdui-row > [class*="mdui-col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	

}