.mdui-row > [class*="mdui-col-"] {
	padding-top: 0;
	padding-bottom: 30px;
}

.post-card-media > img {
	height: 280px;
	object-fit: cover;
}

.round-btn {
	border-radius: 18px;
}

.mdui-card-content img {
    max-width: 100%;
}