js/dsembed.js

.DS_Store

# back up files
*.bak

# website config
manifest.json

# All develop using bash script
*.sh

# Sublime text sftp plugin
sftp-config.json

# npm & gulp
node_modules/
package-lock.json
rev-manifest.json
dist/*