.main-pic {
	height: 360px;
	object-fit: cover;
}
.top-card {
	height:360px;
}
.main-logo {
	height: 200px !important;
	width: 200px !important;
}

.mdui-row > [class*="mdui-col-"] {
	padding-top: 0;
	padding-bottom: 25px;
	

}

.index-post-card-media > picture > img {

	max-height: 250px;
	height: 250px;
	object-fit: cover;
}

.index-post-card-header-rightinfo {
	margin-top: 15px;
	padding: 1em;
}
