/*
* CSS only used in index.php
*
* top cards CSS
* Post MD card optimizing CSS
* Search CSS
* |-- Container
* |-- Animation
*
*/


/********* Top Cards CSS BEGIN *************/
.main-pic {
	height: 360px;
	object-fit: cover;
}
.top-card {
	height: 360px;
	background-color: #f5f5f5;
}
.top-card > .mdui-card-actions {
	background-color: #fff;
	height: 64px;
}
.top-card > .mdui-card-actions > .main-logo-title {
	margin-left: 8px;
	font-size: 16px;
}
.main-logo {
	height: 200px !important;
	width: 200px !important;
	margin: 47.5px auto;
	border-radius: 50%;
}

/*********** Top Cards CSS END *************/


.mdui-row > [class*="mdui-col-"] {
	padding-top: 4px;
	padding-bottom: 4px;

}

.index-post-card-media > picture > img {

	max-height: 250px;
	height: 250px;
	object-fit: cover;
}

.index-post-card-header-rightinfo {
	margin-top: 15px;
	padding: 1em;
}

.bottom > [class*="mdui-col-"] {
	padding-top: 0px;
	padding-bottom: 30px;
}


/********* Search Container CSS BEGIN **********/

.main-search {
	display: none;
	z-index: 5002;
	position: fixed;
	height: 3rem;
	width: 100%;
	top: calc(50% - 1.5rem);
	left: 0;
	text-align: center;
	font-size: 18px;
}

.main-search .main-search-form-wrapper > .main-search-form {
	display: inline-block;
}

.main-search .main-search-form-wrapper > .main-search-form > input.text {
	height: 48px;
	padding: 0 2px;
	margin-right: 16px;
	border-width: 0;
	border-radius: 4px;
	text-overflow: hidden;
	font-size: 16px;
}
.main-search .main-search-form-wrapper {
	display: inline-block;
	padding: 8px 12px;
	background-color: #424242;
	border-radius: 4px;
}

/************ Search Container CSS END **********/


/*********** Animation CSS BEGIN **********/
/*Swash IN*/
.swashIn {
	-webkit-animation-name: swashIn;
	animation-name: swashIn;
	animation-duration: 0.6s;
}

@-webkit-keyframes swashIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@keyframes swashIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

/*Expand*/
.expand {
	animation-name: expand;
	animation-duration: 1s;
}

@keyframes expand {
	0% {
		-webkit-transform: scale(0.05, 1);
		transform: scale(0.05, 1);
	}

	100% {
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}